@import "../../global.scss";

.intro {
    background-color: white;
    display: flex;
    position: relative;

    .left {
        flex: 5;
       
        .wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding-left: 5em;
           

            .textWrapper {
                color: $mainColor;
                font-size: 60px;
                
            }

          
                .seeMore {
                    margin-top: 1em;
                    background-color: $mainColor;
                    padding: 20px;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    text-decoration: none;
                    font-size: 24px;
                     cursor: pointer;

                }

            
        }
    }

    .right {
        flex:1;
       
    }

    .more {
        position: absolute;
        bottom: 0;
        left: 50%;
        
        .arrow {
            animation: arrowBlink 2s infinite;
            font-size: 48px;
            color: $mainColor;
        }

        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }
        
    }
}