@import "../../global.scss";

.intro {
    display: flex;
    position: relative;

    .left {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
       
        .wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 5em;
           

            .textWrapper {
              
                font-size: 8vmin;
                
            }

          
                .seeMore {
                    margin-top: 1em;
                    padding: 20px;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    text-decoration: none;
                    font-size: 24px;
                     cursor: pointer;
                     background-color: #303437;

                     &.dark {
                        color: #303437;
                        background-color: white;
                     }

                }

            
        }
    }

    .right {
        flex:1;
       
        .meImg{
            width: 50%;
            border-radius: 10px;
        }
    }

    .more {
        position: absolute;
        bottom: 0;
        left: 50%;
        
        .arrow {
            animation: arrowBlink 2s infinite;
            font-size: 48px;
            color: $mainColor;
        }

        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }
        
    }
}