@import "../../global.scss";

.intro {
    display: flex;
    position: relative;
    justify-content: space-around;

    @include mobile {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
       
        .wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
           

            .textWrapper {
              
                .title {
                    font-size: $big-font-size;
                    font-weight: $font-semi-bold;
                }

                .profession {
                    color: $text-color-light;
                }
            }

          
                .seeMore {
                    margin-top: 1em;
                    padding: 20px;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    text-decoration: none;
                    font-size: 24px;
                     cursor: pointer;
                     background-color: $first-color;

                     &.dark {
                        color: #303437;
                        background-color: white;
                     }

                }

            
        }

        .more {
            position: absolute;
            bottom: 10%;
            margin-top: 1em;
            color: $text-color;
            display: flex;
            align-items: center;
            font-size: 1.2rem;

            @include mobile {
                bottom: 5%;
            }
            
            .Mouse {
                color: $first-color;
            }

            .arrow {
                font-size: 1rem;
            }
            
        }
    }

    .right {
        display: flex;
        align-items: center;
        // justify-content: center;
       
       .blob {
        width: 300px;
        fill: $first-color;


        .blobImg {
            width: 170px;
        }
       }
    }

}