@import "../../global.scss";

.portfolioList {
    font-size: $small-font-size;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;

    &.active {
        transition: all 0.7s ease;
        background-color: $first-color;
        color: white;

        &.dark {
            background-color: white;
            color: #303437;
        }

    }

}