@import "../../global.scss";

.portfolioList {
    font-size: 14px;
    margin: 1em 1em;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    height: 20px;

    &.active {
        background-color: #303437;
        color: white;

        &.dark {
            background-color: white;
            color: #303437;
        }

    }

}