@import "../../global.scss";

.about {
    background-color: white;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    h1 {
        font-size: 7vmin;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .aboutMe {
        display: flex;
        overflow-y: hidden;
        

        .left{
            flex: 1;
            background-color: white;
            padding: 1em;
            width: 100%;
            height: 100%;
        }
        .right{
            flex: 1;

            .imgContainer {
           
                
                img {
                    width: 30%;
                    margin-left: 15em;
                    border-radius: 5px;
                }

            }

        
        }
    }

            
    h2 {
        margin-top: 5vmin;
        font-size: 7vmin;
        color: black;
        font-weight: bold;
    }


    .skills {
        display: flex;
        justify-content: space-around;
        margin: 2em 5em;

        .table{
            display: flex;
            flex-direction: column;

            .title {
                font-size: 5vmin;
                font-weight: 600;
            }

            ul {
                // list-style: none;

                .skill {
                    margin-top: 2vmin;
                    font-size: 2vmin;

                }
            }

            }
    }
    
}