@import "../../global.scss";

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
 

    h1 {
        font-size: 50px;
        height: 80px;
    }

    ul {
        padding-bottom: 2em;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    

    .modal {
        background-color: #3f3e3e60;
        position: absolute;
        width: 100%;
        height: 100%;
        // top: 20%;
        // left: 40%;
        z-index: 99999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .innerModal {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border-radius: 10px;
            width: 50vmin;
            height: 70vmin;

            .top {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding-top: 10px;

                .closeModal{
                    position: absolute;
                    right: 3%;
                    top: 3%;
                    padding: inherit;
                    font-weight: 900;
                    cursor: pointer;
                }

            }

            img {
                width: 98%;
                height: 60%;
                border-radius: 10px;
         
            }

            ul {
                margin: 10px;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;

                .singleTech {
                    font-size: 1.5vmin;
                    margin: 1vmin 2vmin;
                    color: white;
                    background-color: $mainColor;
                    padding: 10px;
                    border-radius: 10px;
                }
            }

            .linkBtn {
                margin: 1em 0 1em; 
                width: 100%;
                display: flex;
                justify-content: space-around;

               .gitBtn {
                flex: 1;
                margin-left: 1em;
                text-align: center;
                border: 1px solid white;
                padding: 10px 30px;
                border-radius: 10px;
                background-color: teal;
                color: white;
                text-decoration: none;

               }
               .liveBtn {
                flex: 2;
                margin: 0 1em;
                text-align: center;
                border: 1px solid white;
                padding: 10px 70px;
                border-radius: 10px;
                background-color: coral;
                color: white;
                text-decoration: none;
                
               }
            }

            
        }
        }

       

}