@import "../../global.scss";

.projects {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow-x: visible !important;

    h1 {
        margin: 3em 0em 1em;
        color: $mainColor;
        font-size: 48px;
    }

    .carousel {
        width: 90%;
        height: 100%;

        cursor: grab;
        overflow: hidden;

        .innerCarousel{
            display: flex;
            

            .projectCard {
                min-height: 30rem;
                min-width: 20rem;
                padding: 40px;
                position: relative;
                
                img {
                    position: absolute;
                    width: 80%;
                    height: 100%;
                    border-radius: 10px;
                    pointer-events: none;
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;                
                }

                .cardTitle {
                    position: absolute;
                    top: 10%;
                    font-size: 36px;
                    color: white;
                    left: 40%;
                    z-index: 5;
                }

                .cardTech {
                    width: 80%;
                    position: absolute;
                    top: 70%;
                    z-index: 5;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    color: white;

                    .singleTech {
                        background-color: teal;
                        border-radius: 10px;
                        padding: 10px;
                    }
                }
                .cardDesc {
                    position: absolute;
                    bottom: 15%;
                    z-index: 5;
                    color: white;
                }

                .cardLinks {
                    width: 80%;
                    position: absolute;
                    bottom: 0;
                    z-index: 5;
                    display: flex;
                    justify-content: space-around;
                    

                    .link {
                        text-decoration: none;
                        color: white;
                        background-color: coral;
                        border-radius: 10px;
                        padding: 10px
                    }
                }
            }
        }

        .big {
            background-color: aquamarine;
            width: 100vh;
        }

       
    }
    
}